*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
}
ul{
    display: inline;
    padding-right: 10px;
}
li{
    align-items: center;
    display: inline;
    list-style: none;
    padding: 20px;
    
}
li a{
    text-decoration: none;
    
}
.navbar img{
    width: 200px;
    height: 100px;
    padding-right:40vw;
}